# SCons junk
/.sconf_temp
/.sconsign.dblite
/config.log

# Visual Studio junk
/msvc/*.vcproj.*.user
/msvc/*.plg
/*.opt
/*.suo
/*.ncb
*.obj

# Intermediate objects
*.d
*.o
/.cflags
/build.h
/license.h

# Output binaries
/cpuid
/cpuid.exe
