# SCons junk
/.sconf_temp
/.sconsign.dblite
/config.log

# Visual Studio junk
/.vs
/Backup
/ipch
/msvc/*.vcproj.*.user
/msvc/*.user
/msvc/*.plg
/UpgradeLog.htm
/*.opt
/*.suo
/*.opensdf
/*.sdf
/*.ncb
*.obj

# Intermediate objects
*.d
*.o
/.cflags
/build.h
/license.h

# Output binaries
/cpuid
/cpuid.exe
